body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#nav1 img{
    position: relative;
    top: 7px;
}
#nav1{
    position: fixed;
    z-index: 99;
    height: 40px;
    width: 100%;
    display: flex;
    gap: 13px;
    background-color: black;
    color: white;
    padding: 10px;
    
}
@media(min-width:1400px){
    #nav1{
        height: 40px;
        width: 100%;
        display: flex;
        gap: 60px;
        background-color: black;
        color: white;
        padding: 10px;
        
    }
    #nav1 h5{
        position: relative;
        right: 70px;
        bottom: 8px;
        
    }
    
}
#nav1 input{
    width: 500px;
    position: relative;
    
}
#nav1 svg{
    background-color: rgb(236, 173, 29);
    position: relative;
    right: 43px;
    
}
#n1 svg{
    position: relative;
    left: 10px;
    top: 5px;
    height: 15px;
    width: 20px;
}
#nav1 h5{
    position: relative;
    right: 47px;
    bottom: 8px;
    
}
#n1 span{
    opacity: 0.7;
}

 #in img{
    height: 27px;
    width: 30px;
    position: relative;
    top: 10px;
   right: 35px;
}
#n2{
    
    position: relative;
    top: 8px;
    right: 45px;
    font-size: 12px;
}
#n2 b{
    font-size: 13px;
}
#n3 b{
    font-size: 13px;
}
#n2 small{
    font-size: 12px;
    opacity: 0.9;
}
#n3 small{
    font-size: 14px;
    opacity: 0.9;
}

#n3{
    position: relative;
    top: 4px;
    right: 40px;
}
#n4 svg{
    position: relative;
    bottom: 33px;
}
#nav2{
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap:14px;
    position: relative;
    top: 60px;
    right: 0px;
    background-color: #0e0b39;
    color: white;
    padding-top: 12px;
}


#nav2 a{
    color: white;
    text-decoration:none;
    font-size: 12px;
    font-weight: 700;
}
#nav2 svg{
    position: relative;
    left:10px;
    bottom: 4px;

}
main{
    position: relative;
}
#im img{
    position: absolute;
    top: 105px;
    z-index: -1;
    
}
#container1{
    position: relative;
    top: 295px;
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px
    ;
    padding: 10px;
}
#container1 #box{
    height: 90%;
    width: 38%;
    background-color: white;
    padding-left: 8px;
}

#box img{
    margin-left: 16px;
    margin-bottom: 15px;
    
}
 #box2{
    height:110px;
    width: 270px;
    position: relative;
    bottom: 2px;
    margin-bottom: 5px;
    background-color:white;
    margin-right: 30px;
    padding: 3px;   
}

#box2 button{
    background-color:rgb(236, 173, 29);
    color: black;
    border: none;
    border-radius: 12px;
    padding:  3px ;
    position: relative;
    top: 20px;
    width:100% ;

}
#box2 h3{
    margin-left: 10px;
}
#box a{
    text-decoration: none;
    position: relative;
    top: 36px;
    left: 10px;
    color: rgb(78, 78, 235);
    font-size: small;
}
#a{
    position: relative;
    bottom: 20px;
}
#last img{
    margin-right: 28px;
}
#container{
    background-color: rgb(220, 216, 216);
    position: relative;
    top: 280px;
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px
    ;
    padding: 15px;
}
#container #box{
    height: 90%;
    width: 38%;
    background-color: white;
    padding-left: 8px;
    
}
#shop{
    background-color: white;
    width: 100%;
    position: relative;
    margin-left: 18px;
    /* top: 100px; */
    padding: 2px;
    
  
    
}
#shop h3{
    font-size: 21px;
    position: relative;
    bottom:11px;
}
#shop-item{
    position: relative;
    width: 100%;
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    
    
    
}
#shop-item img{
    position: relative;
    bottom: 15px;
}
#cont{
    position: relative;
    height: 260px;
    top: 260px;
    width: 100%;
    background-color:  rgb(220, 216, 216) ;
}
#shop-item::-webkit-scrollbar{
    display: none;
}
#cont1{
    position: relative;
    height: 280px;
    top: 260px;
    width: 100%;
    background-color:  rgb(220, 216, 216) ;
   
}
#containerr{
    height: 350px;
    width: 100%;
    position: relative;
    top: 240px;
    background-color:  rgb(220, 216, 216);
    display: flex;
    justify-content: space-between;
    padding-left: 13px;
    padding-top: 15px;
}
#containerr #box{
    height: 93%;
    width: 23%;
    background-color: white;
    padding-left: 8px;
    
    
}
#ins{
    position: relative;
    top: 260px;
    height: 130px;
    width: 100%;
    background-color: white;
    border-top: 1px solid #dadada;
    border-bottom: 2px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#ins p{
    font-size: medium;
}
#ins button{
    background-color:rgb(255, 185, 22);
    width: 220px;
}
#ins a{
    text-decoration: none;
}

#containerr #prime{
    width: 47%;
    height: 330px;
    position: relative;
    background-image: url("https://www.justwatch.com/images/backdrop/248806880/s1440/the-family-man");
    background-size: cover;
    background-repeat: none;
    color: white;
    
}
#pri{
    position: relative;
    top: 290px;
    left: 17px;
}
#Back{
    color: white;
    height: 60px;
    background-color:#314c6d;
    position: relative;
    top: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#lastitem{
    color: white;
    height: 440px;
    background-color: #232F3E;
    position: relative;
    top: 270px;
   

}
#c1{
    margin-top: 20px;
}
#c1 p{
    position: relative;
    bottom: 10px;
    font-size: 14px;
}
#item1{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #dadada;
}

#c2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#c2 img{
    margin-top: 35px;
}
#c3 p{
    width: 100px;
    position: relative;
    top: 10px;
    border: 1px solid #dadada;
}
select {
    background-color:#232F3E;
    border: none;
    margin-left: 10px;
    color: #dadada;
}
#item3{
    display: flex;
    padding-left: 250px;
    gap: 10px;
    
}
#item3 p{
    font-size: 12px;
}
#item4{
    height: 80px;
    background-color:#131A22;
    color: white;
    position: relative;
    top:15px ;
    padding-left: 200px;
    display: flex;
    gap: 160px;
}
#item5{
    height: 80px;
   background-color:#131A22;
    color: white;
    position: relative;
    top:15px ;
    padding-left: 200px;
    display: flex;
    gap: 160px;
}
#item6{
    height: 110px;
    background-color:#131A22;
    color: white;
    position: relative;
    top:15px ;
    padding-left: 370px;
    display: flex;
    gap: 40px;
    
}
#dd{
    display: flex;
    gap: 25px;
    margin-top: 16px;
}
